In [5]:
import pandas as pd
import requests

In [22]:
response = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=62c0dac31cb341c78de8caaffa2c164f&language=en-US&page=1')

In [23]:
df = pd.DataFrame(response.json()['results'])[['id','name','overview', 'first_air_date','popularity','vote_average', 'vote_count'  ]]

In [24]:
df.head()

,id,name,overview,first_air_date,popularity,vote_average,vote_count
0,1396,Breaking Bad,"Walter White, a New Mexico chemistry teacher, ...",2008-01-20,112.7557,8.920,16111
1,219246,When Life Gives You Tangerines,"In Jeju, a spirited girl and a steadfast boy's...",2025-03-07,20.2075,8.800,387
2,94605,Arcane,Amid the stark discord of twin cities Piltover...,2021-11-06,23.2003,8.760,5377
3,246,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",2005-02-21,12.6135,8.758,4481
4,209867,Frieren: Beyond Journey's End,Decades after her party defeated the Demon Kin...,2023-09-29,34.8544,8.800,521

In [35]:
df= pd.DataFrame()

In [38]:
import requests
import pandas as pd

In [39]:
all_dfs = []

In [40]:
for i in range(1, 115):
    response = requests.get(
        f'https://api.themoviedb.org/3/tv/top_rated?api_key=62c0dac31cb341c78de8caaffa2c164f&language=en-US&page={i}'
    )
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id','name','overview','first_air_date','popularity','vote_average','vote_count']
    ]
    all_dfs.append(temp_df)  

df = pd.concat(all_dfs, ignore_index=True)

In [41]:
df

,id,name,overview,first_air_date,popularity,vote_average,vote_count
0,1396,Breaking Bad,"Walter White, a New Mexico chemistry teacher, ...",2008-01-20,112.7557,8.920,16111
1,219246,When Life Gives You Tangerines,"In Jeju, a spirited girl and a steadfast boy's...",2025-03-07,20.2075,8.800,387
2,94605,Arcane,Amid the stark discord of twin cities Piltover...,2021-11-06,23.2003,8.760,5377
3,246,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",2005-02-21,12.6135,8.758,4481
4,209867,Frieren: Beyond Journey's End,Decades after her party defeated the Demon Kin...,2023-09-29,34.8544,8.800,521
...,...,...,...,...,...,...,...
2269,135251,The Idol,After a nervous breakdown derailed Jocelyn's l...,2023-06-04,5.2708,5.400,275
2270,130392,The D'Amelio Show,From relative obscurity and a seemingly normal...,2021-09-03,2.0816,5.000,681
2271,10160,Big Brother,American version of the reality game show whic...,2000-07-05,15.8669,4.984,251
2272,1871,EastEnders,The everyday lives of working-class residents ...,1985-02-19,17.6908,4.100,215
2273,126725,Velma,Jinkies! This raucous reimagining of the Scoob...,2023-01-12,5.7876,3.428,313

In [43]:
df.shape

(2274, 7)

In [44]:
df.to_csv('movies.csv')