In [1]:
print("hello")

hello

# 1. Import dataset

## Over here we will import the data set

<p style="color: orange"> Hello <p/>

# json data set

In [2]:
import pandas as pd

In [4]:
df = pd.read_json('train.json')

In [6]:
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [11]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/bdt')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
BDT,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.0302
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.5600
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.6770
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,3.1500
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.8350
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,1.9700
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.1420
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.1940
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,BDT,2025-09-22,1758499201,0.2180

# working with SQL

In [13]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\atiku\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import mysql.connector

In [32]:
conn = mysql.connector.connect(host ='localhost', user= 'root', password='', database='world')

In [33]:
df = pd.read_sql_query("select * from countrylanguage" ,conn)

C:\Users\atiku\AppData\Local\Temp\ipykernel_4404\3219320146.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from countrylanguage" ,conn)

In [34]:
df

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]